@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

html {
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sub-box {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(9.5px);
  /* Note: backdrop-filter has minimal browser support */
  padding: 4rem 8rem 2rem 3rem;
  width: 500px;
  height: 289px;
  border-radius: 25px;
}
.sub-box2 {
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(9.5px);
  backdrop-filter: blur(9.5px);
  padding: 4rem 8rem 2rem 3rem;
  width: 500px;
  height: 186px;
  border-radius: 25px;
}
.sub-box ul li {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  list-style: circle;
}

.sub-box2 ul li {
  font-family: Space Grotesk;
  font-size: 16px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  list-style: circle;
}
.line-road {
  position: absolute;
  margin-top: -32rem;
  left: 50%;
}

.phase-btn {
  height: 65px;
  width: 180px;
  margin: auto;
  position: relative;
  /* margin-top: -4%; */
  top: 23px;
  padding: 18px;
  z-index: 2;
  text-align: center;
  /* align-items: center; */
  font-family: Space Grotesk;
  font-size: 24px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.box-2 {
  position: relative;
  top: -50px;
}

.box-4 {
  position: relative;
  top: -50px;
}


.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide img {
    width: 100%;
    height: auto;     
}

.side-b{
  position: absolute;
  z-index: 0;

  
  left: 0;
  top: -6px;
}

.bit-2{
  position: absolute;
  right: 0;
}

.bit-3{
  position: absolute;
  right: 0;
  margin-top: -16%;
}


@media (max-width:768px) {

  .side-b{
 display: none;
}

.bit-2{
  display: none;
}

.bit-3{
 display: none;
}
.line-road{
  display: none;
}
}